
#result {
    display: none; 
    background-size: 800px ;
    background-repeat : no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    border-radius: 5px;
}

.kakao {
    color: #3A1D1D;
    background-color: #fEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 4px;
}

/* 마우스가 버튼 위에 있을 때와 클릭했을 때의 효과 */
.kakao:hover, .kakao:focus{
    background-color: #3A1D1D;
    color: #fEE500;
}